@use "./resets";
@use "./generals";
@use "./mixins";
@use "./variables";

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
  height: 10vh;
}

.rock_paper_scissors_container{
  background-color: #000;
  color: #fff;
  height: 90vh;
  display: flex;
align-items: center;
  flex-direction: column;
}

.rounds_container{
  width: 30%;
  border: 1px solid #fff;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  .rounds_counter_grid{
    display: grid;
  grid-template-columns: 1fr 1fr;
}
.rounds_counter_container{
  text-align: center;
  font-size: 1.5rem;
}

}

.selection_container{
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  width: 275px;
  margin-inline: auto;
  .selection_option{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 1px solid #fff;
    transition: border 500ms ease, box-shadow 500ms ease;
  }
  .stone{
    background-image: url("../img/stone.png");
    background-position: center;
    background-size: 70px;
    background-repeat: no-repeat;
  }
  .paper{
    background-image: url("../img/paper.png");
    background-position: center;
    background-size: 60px;
    background-repeat: no-repeat;
  }
  .scissors{
    background-image: url("../img/scissors.png");
    background-position: center;
    background-size: cover;
  }
  .win{
    border: 1px solid #00ff51;
    box-shadow: 0px 0px 5px 2px #00ff51;
  }
  .lose{
    border: 1px solid #f00;
    box-shadow: 0px 0px 5px 2px #f00;
  }
  .draw{
    border: 1px solid gray;
    box-shadow: 0px 0px 5px 2px gray;
  }
}

.score_container{
  width: 30%;
  border: 1px solid #fff;
text-align: center;
margin-top: 20px;
padding: 30px;
font-size: 1.5rem;
position: relative;
.player{
background-color: rgb(255, 51, 0);
padding: 10px;
width: 75px;
position: absolute;
font-size: 1rem;
}
.user{
  top: 50%;
  left: -15%;
transform: translate(0%, -50%);
}
.comp{
  top: 50%;
  right: -15%;
transform: translate(0%, -50%);
}
}

.text_output_container{
  h2{
    padding-inline: 50px;
  }
  margin-top: 30px;
  font-size: 1.5rem;
}

.make_move_text{
  text-align: center;
  margin-block: 30px;
}

.restart{
  color: orange;
  text-decoration: underline;
  font-weight: 700;
  background-color: #000;
  border: none;
  transition:all 300ms ease-in-out;
  &:hover{
    color: #ff8801;
    text-shadow: 0px 0px 5px #ff8801;
  }
}